<% include partials/header %>

<div class="container" id="abc">
	<div class="well well-sm">
	<div class="page-header">
	<% if(currentuser && currentuser.username === "admin") { %>
		<h3 class="text-center"><%= uname %>'s Cart</h3>
	<% }else{ %>
	<h3 class="text-center"><%= currentuser.username %>'s Cart</h3>
	<% } %>
	</div>
	</div>
  <% if(carts.length){ %>
	<% carts.forEach(function(items){ %>
	    <div class="row">
			<div class="col-sm-4">
				<a href="/<%=items.furid.category%>/<%=items.furid._id%>"><img src="<%= items.furid.file %>" alt="image"></a>
			</div>
			<div class="col-sm-8">
				<div class="jumbotron">
					<p><%= items.furid.details %></p>
		           	<h3 class="pull-right">₹ <%= items.furid.price %></h3>
		        	<h5>Completion Time: <%= items.furid.ctime %></h5>

                    <% if(currentuser && currentuser.username !== ("admin")){ %>
		        	<form action="/cart/<%= items._id %>?_method=delete" method="post">
		             <button type="submit" class="btn btn-danger">Remove</button>
		        	</form>
                    <% } %>
                       
				</div>	     
			</div>
		</div>
	<% }) }else{%>
	<h3>You have Not added anything to the cart</h3>
	<% } %>
</div>

<% include partials/footer %>