<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
</head>
<body class="bodybackground">

<div class="container">
      <% if(success && success.length > 0){ %>
            <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= success %>
            </div>
      <% } if(error && error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= error %>
            </div>
      <% } %>
</div>

   <div class="container">
		<div class="jumbotron">
			<div class="row" >
				<h1 style="text-align:center">EDIT</h1>
				<div style="width: 30%; margin: 25px auto;">
					<form action="/<%=furn.category%>/<%=furn._id%>?_method=put" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="category">CATEGORY</label>
							<select name="category" class="form-control" id="category"> 
								<option value="SELECT">SELECT</option>
								<option value="SOFA">SOFA</option>
								<option value="CHAIR">CHAIR</option>
								<option value="TABLE">TABLE</option>
								<option value="BED">BED</option>
								<option value="ALMIRAH">ALMIRAH</option>
								<option value="DECORATIONS">DECORATIONS</option>
							</select>
						</div>
					    <div class="card">
					        <img src="<%=furn.file%>" id="img-preview">
							<label class="file-upload-container" for="file-upload">
							<input type="file" name="fileinput" accept="image/*" id="file-upload" class="fake">
							select an image</label>
							<input type="text" name="path" id="abc" class="sr-only" value="<%=furn.file%>">
						</div>
						<div class="form-group">
							<label for="details">PRODUCT DETAILS</label>
							<textarea name="details" id=details rows="5" class="form-control"><%= furn.details  %></textarea>
						</div>
						<div class="form-group">
							<label for="price">PRICE</label>
							<input type="text" name="price" id="price" class="form-control" value="<%= furn.price %>">
						</div>
						<div class="form-group">
							<label for="ctime">Completion Time</label>
							<input type="text" name="ctime" id="ctime" class="form-control" value="<%= furn.ctime %>">
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12">
								 <button type="submit" class="btn btn-lg btn-primary">Update</button>
							</div>
							
						</div>
					   
					</form>
				</div>
			</div>
		</div>	
	</div> 
	<script src="/jq/jquery.js" type="text/javascript"></script>
    <script src="/jq/bootstrap.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/jq/upload.js"></script> 
</body>
</html>