<% include partials/header %>

<div class="container">	
	<div class="row">
        <div class="col-sm-4 col-xs-12">
        	<div class="thumbnail">
        		<img src="<%= furn.file %>" class="image" alt="image">
        	</div>
        	
        </div>

        <div class="col-sm-8 col-xs-12">        	
        	    <div class="jumbotron">
        	       <p><%= furn.details %></p>
	        	   	<h3 class="pull-right">₹ <%= furn.price %></h3>
	        	   	<h5>Completion Time: <%= furn.ctime %></h5>

                  
                        <% if(currentuser) { if(currentuser.username === "admin"){ %>
                               <form action="/<%=furn.category%>/<%=furn._id%>?_method=DELETE" method="post">
	        	   	<button type="button" class="btn btn-warning"><a class="btntxt" href="/edit/<%= furn._id %>">EDIT</a></button>
                                
                                  <button type="submit" class="btn btn-danger">DELETE</button>      
                                </form>
	        	   	
	        	   	<% }else{%>
	        	   	<form action="/addcart" method="post">
	        	   	<input type="text" name="fid" value="<%=furn._id%>" id="succ">
	        	   		<button type="submit" class="btn btn-primary">ADD</button>
	        	   	</form>
	        	   	<% } } %>
                         
	        	   	
        	    </div>
        </div>


	</div>
</div>

<% include partials/footer %>
